.message-bubble {
    padding: 10px 0 10px 0;
}

.message-bubble:nth-child(even) {
    background-color: #F5F5F5;
}

.message-bubble > * {
    padding-left: 10px;
}

.panel-body {
    padding: 0;
}

.panel-heading {
    background-color: #3d6da7 !important;
    color: white !important;
}