doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Page Description')
        meta(name='author', content='Team Caregiver')
        title
        link(href='//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.min.css', rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='/colors.css', rel='stylesheet')
        //if lt IE 9
          script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    |
                    a.navbar-brand(href='/overview') Caregiver
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav
                        li#page-overview
                            a(href='/overview')
                                i.fa.fa-home.fa-lg
                        li#page-profile
                            a(href='/profile') Profile
                        li#page-messages
                            a(href='/messages') Messages
                        li#page-patient-list.active
                            a(href='/patient/all') Patient List
                        li#page-schedule
                            a(href='/schedule') Schedule
                        li#page-notifications
                            a(href='')
                                i.fa.fa-bell
                        li#page-logout
                            a(href='/') Logout
                    form.navbar-form.navbar-left(role='search')
                        .form-group
                            input.form-control(type='text', placeholder='Search')
                        |
                        button.btn.btn-default(type='submit') Submit
                    ul.nav.navbar-nav.navbar-right
                        li.list-group-item-danger
                            a(href='/emergency') Emergency
        .container
            .row
                .hidden-xs.col-sm-2.col-md-2.col-lg-2.text-center
                    img.img-responsive(src='/logo.png', height='auto', width='100%', alt='Profile Image')
                    h2
                        span.patientName
                    |
                    a.patientBack(href='')
                        button.btn.btn-block.btn-default Back
                .col-xs-12.col-sm-10.col-md-10.col-lg-10
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12.well(style='height: 625px;')
                            h2.text-center(style='margin-top:0') Details
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='overflow-y:scroll; height:495px;')
                                ul#detailCollection(style='list-style-type:none; padding-left: 0;')
        #includefooter
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='//d2c5utp5fpfikz.cloudfront.net/3_1_1/js/bootstrap.min.js')
        script.
            $(function () {
                var jsonSTRING = '{"KarryForya":{"id":"KarryForya","name":"Karry Forya","date of birth":"03/22/1992","tasks":[{"name":"Dinner","status":true},{"name":"Give Night Medication","status":true},{"name":"Breakfast","status":false}],"details":[{"name":"First Name","value":"Karry"},{"name":"Last Name","value":"Forya"},{"name":"Address","value":"1 Example Rd"},{"name":"Phone","value":"555 555 5555"},{"name":"Email","value":"karryforya@example.com"}]},"JohnDoe":{"id":"JohnDoe","name":"John Doe","date of birth":"03/22/1992","tasks":[{"name":"Dinner","status":true},{"name":"Give Night Medication","status":true},{"name":"Breakfast","status":false}],"details":[{"name":"First Name","value":"John"},{"name":"Last Name","value":"Doe"},{"name":"Address","value":"1 Example Rd"},{"name":"Phone","value":"555 555 5555"},{"name":"Email","value":"johndoe@example.com"}]},"JaneDoe":{"id":"JaneDoe","name":"Jane Doe","date of birth":"01/17/1983","tasks":[{"name":"Lunch","status":true},{"name":"Dinner","status":true},{"name":"Give Morning Medicine","status":false},{"name":"Breakfast","status":false}],"details":[{"name":"First Name","value":"Jane"},{"name":"Last Name","value":"Doe"},{"name":"Address","value":"1 Example Rd"},{"name":"Phone","value":"444 444 4444"},{"name":"Email","value":"janedoe@example.com"}]},"BillSmith":{"id":"BillSmith","name":"Bill Smith","date of birth":"10/05/1892","tasks":[{"name":"Lunch","status":true},{"name":"Dinner","status":true},{"name":"Give Night Medicine","status":true},{"name":"Give Morning Medicine","status":false}],"details":[{"name":"First Name","value":"Bill"},{"name":"Last Name","value":"Smith"},{"name":"Address","value":"1 Example Rd"},{"name":"Phone","value":"333 333 3333"},{"name":"Email","value":"billsmith@example.com"}]}}';
                var allPatientInfo = JSON.parse('[' + jsonSTRING + ']');
                var patientID = window.location.toString().match(/\\/patient\/(\w+)/g).toString().replace("/patient/", "");
                var patientInfo = allPatientInfo[0][patientID];
                document.title = patientInfo.name;
                var x = document.getElementsByClassName("patientName");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].innerHTML = patientInfo.name;
                }
                x = document.getElementsByClassName("patientProfile");
                for (i = 0; i < x.length; i++) {
                    x[i].href = "/patient/" + patientInfo.id + "/profile";
                }
                x = document.getElementsByClassName("patientBack");
                for (i = 0; i < x.length; i++) {
                    x[i].href = "/patient/" + patientInfo.id;
                }
                i = 1;
                patientInfo.details.forEach(function (ele) {
                    var liNode = document.createElement("li");
                    var detailName = document.createTextNode(' ' + ele.name);
                    var bNode = document.createElement('b');
                    var detailValue = document.createTextNode(' ' + ele.value);
                    bNode.appendChild(detailName);
                    liNode.appendChild(bNode);
                    liNode.appendChild(detailValue);
                    i++;
                    document.getElementById('detailCollection').appendChild(liNode);
                });
                $("#includefooter").load("/footer.html");
            });
