link(href='/footer.css', rel='stylesheet')
footer.footer
    .container
        p.text-muted Created for SWEN-444 by The Other Guys.
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='//d2c5utp5fpfikz.cloudfront.net/3_1_1/js/bootstrap.min.js')