doctype html
html(lang='en')
    head
        - var title = "Create Account Type"
        include ../include/header
    body
        .container
            .page-header
                h1 Caregiver
            .container.text-center
                h2 Choose your Account Type
                br
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                    a(href='/create-caregiver')
                        button.btn.btn-primary.btn-lg(type='button') Caregiver
                    p
                        | This type of account is for the home health aid and nurses alike. This will allow you to view a list of your patients and log your daily task for them.
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                    button.btn.btn-default.btn-lg.disabled(type='button') Patient
                    p
                        | This type of account is for the patient who would like a place to connect to their caregiver, even when they may not be around.
                a(href='/')
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        button.btn.btn-warning.btn-lg(type='button') Cancel
        include ../include/footer
