doctype html
html(lang='en')
    head
        - var title = "Messages"
        include ../include/header
        link(href='messages.css', rel='stylesheet')
        script(src='/testData.js')
    body
        - var navbar = { messages: true }
        include ../include/navbar
        .container
            .row
                .col-xs-12.col-sm-12.col-md-5.col-lg-5.well(style='height: 600px;')
                    h3(style='margin-top:0') Conversations
                    div(style='overflow-y:scroll; height:525px')
                        #conversation-list.list-group
                            a.list-group-item(href='#')
                                h4.list-group-item-heading
                                    i.fa.fa-plus-square-o.fa-lg
                                    |  New Conversation
                                p.list-group-item-text
                            a.list-group-item(href='#')
                                h4.list-group-item-heading
                                    img(src='logo20.png')
                                    |  John Doe
                            a.list-group-item(href='#')
                                h4.list-group-item-heading
                                    img(src='logo20.png')
                                    |  Bill Smith
                            a.list-group-item(href='#')
                                h4.list-group-item-heading
                                    img(src='logo20.png')
                                    |  Jane Doe
                .hidden-xs.hidden-sm.col-md-1.col-lg-1
                .col-xs-12.col-sm-12.col-md-6.col-lg-6.well(style='height: 600px;')
                    .panel.panel-default
                        .panel-heading
                            span#active-conversation-name None
                        #conversation(style='overflow-y:scroll; height:475px')
                        .panel-footer
                            .input-group
                                input#sendMessage.form-control(type='text', name='sendMessage', placeholder='Message...')
                                |
                                span.input-group-btn
                                    button.btn.btn-default(type='button', onclick="sendMessage(document.getElementById('sendMessage').value)") Send
        include ../include/footer
        script.
            $(function () {
                var first = $('#conversation-list').children()[1];
                $(first).addClass('active');
                $('#active-conversation-name').text($(first).children()[0].innerHTML.replace(/<.*>\\s*/g, ""));
                var objDiv = document.getElementById("conversation");
                objDiv.scrollTop = objDiv.scrollHeight;
                setConvo();
            });
            $('#conversation-list').find('> a').on('click', function (e) {
                e.preventDefault();
                $('#conversation-list').find('> a').removeClass('active');
                $(this).addClass('active');
                $('#active-conversation-name').text($(this).children()[0].innerHTML.replace(/<.*>\\s*/g, ""));
                setConvo();
                var objDiv = document.getElementById("conversation");
                objDiv.scrollTop = objDiv.scrollHeight;
            });
        script.
            function setConvo() {
                first = document.getElementById("active-conversation-name").innerText;
                if (first === 'John Doe') {
                    var patientMessages = messagesJohnDoe;
                    first = 'John Doe';
                    var caregiverResponse = messagesCaregiverJohn;
                } else if (first === 'Bill Smith') {
                    var patientMessages = messagesBillSmith;
                    var caregiverResponse = messagesCaregiverJane;
                } else if (first === 'Jane Doe') {
                    var patientMessages = messagesJaneDoe;
                    var caregiverResponse = messagesCaregiverBill;
                } else {
                    var patientMessages = [];
                    var caregiverResponse = [];
                }
                var myDiv = document.getElementById("conversation");
                while (myDiv.firstChild) {
                    myDiv.removeChild(myDiv.firstChild);
                }
                for (var i = 0; i < patientMessages.length; i++) {
                    //var patientName = patientList[i];
                    var chatBubbleDiv = document.createElement("div");
                    chatBubbleDiv.setAttribute('class', "message-bubble");
                    var chatBubbleName = document.createElement("p");
                    chatBubbleName.setAttribute("class", "text-muted");
                    chatBubbleName.append(first);
                    chatBubbleDiv.appendChild(chatBubbleName);
                    var chatBubbleMessage = document.createElement("p");
                    chatBubbleMessage.append(patientMessages[i]);
                    chatBubbleDiv.appendChild(chatBubbleMessage);
                    if (i !== patientMessages.length - 1) {
                        myDiv.appendChild(chatBubbleDiv);
                        chatBubbleDiv = document.createElement("div");
                        chatBubbleDiv.setAttribute('class', "message-bubble");
                        var chatBubbleName = document.createElement("p");
                        chatBubbleName.setAttribute("class", "text-muted");
                        chatBubbleName.append('Sarah');
                        chatBubbleDiv.appendChild(chatBubbleName);
                        var chatBubbleMessage = document.createElement("p");
                        chatBubbleMessage.append(caregiverResponse);
                        chatBubbleDiv.appendChild(chatBubbleMessage);
                    }
                    myDiv.appendChild(chatBubbleDiv);
                }
            }
        script.
            function sendMessage(message) {
                var chatBubbleDiv = document.createElement("div");
                chatBubbleDiv.setAttribute('class', "message-bubble");
                var myDiv = document.getElementById("conversation");
                var chatBubbleName = document.createElement("p");
                chatBubbleName.setAttribute("class", "text-muted");
                chatBubbleName.append('Sarah');
                chatBubbleDiv.appendChild(chatBubbleName);
                var chatBubbleMessage = document.createElement("p");
                chatBubbleMessage.append(message);
                chatBubbleDiv.appendChild(chatBubbleMessage);
                myDiv.appendChild(chatBubbleDiv);
                first = document.getElementById("active-conversation-name").innerText;
            }
