doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Page Description')
        meta(name='author', content='Team Caregiver')
        title Messages
        link(href='//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.min.css', rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='colors.css', rel='stylesheet')
        link(href='messages.css', rel='stylesheet')
        script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
        script(src='/testData.js')
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    |
                    a.navbar-brand(href='/overview') Caregiver
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav
                        li#page-overview
                            a(href='/overview')
                                i.fa.fa-home.fa-lg
                        li#page-profile
                            a(href='/profile') Profile
                        li#page-messages.active
                            a(href='/messages') Messages
                        li#page-patient-list
                            a(href='/patient/all') Patient List
                        li#page-schedule
                            a(href='/schedule') Schedule
                        li#page-notifications
                            a(href='')
                                i.fa.fa-bell
                        li#page-logout
                            a(href='/') Logout
                    form.navbar-form.navbar-left(role='search')
                        .form-group
                            input.form-control(type='text', placeholder='Search')
                        |
                        button.btn.btn-default(type='submit') Submit
                    ul.nav.navbar-nav.navbar-right
                        li.list-group-item-danger
                            a(href='/emergency') Emergency
        .container
            .row
                .col-xs-12.col-sm-12.col-md-5.col-lg-5.well(style='height: 600px;')
                    h3(style='margin-top:0') Conversations
                    div(style='overflow-y:scroll; height:525px')
                        #conversation-list.list-group
                            a.list-group-item(href='#')
                                h4.list-group-item-heading
                                    i.fa.fa-plus-square-o.fa-lg
                                    |  New Conversation
                                p.list-group-item-text
                            a.list-group-item(href='#')
                                h4.list-group-item-heading
                                    img(src='logo20.png')
                                    |  John Doe
                            a.list-group-item(href='#')
                                h4.list-group-item-heading
                                    img(src='logo20.png')
                                    |  Bill Smith
                            a.list-group-item(href='#')
                                h4.list-group-item-heading
                                    img(src='logo20.png')
                                    |  Jane Doe
                .hidden-xs.hidden-sm.col-md-1.col-lg-1
                .col-xs-12.col-sm-12.col-md-6.col-lg-6.well(style='height: 600px;')
                    .panel.panel-default
                        .panel-heading
                            span#active-conversation-name None
                        #conversation(style='overflow-y:scroll; height:475px')
                        .panel-footer
                            .input-group
                                input#sendMessage.form-control(type='text', name='sendMessage', placeholder='Message...')
                                |
                                span.input-group-btn
                                    button.btn.btn-default(type='button', onclick="sendMessage(document.getElementById('sendMessage').value)") Send
        #includefooter
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='//d2c5utp5fpfikz.cloudfront.net/3_1_1/js/bootstrap.min.js')
        script.
            $(function () {
                $("#includefooter").load("/footer.html");
                var first = $('#conversation-list').children()[1];
                $(first).addClass('active');
                $('#active-conversation-name').text($(first).children()[0].innerHTML.replace(/<.*>\\s*/g, ""));
                var objDiv = document.getElementById("conversation");
                objDiv.scrollTop = objDiv.scrollHeight;
                setConvo();
            });
            $('#conversation-list').find('> a').on('click', function (e) {
                e.preventDefault();
                $('#conversation-list').find('> a').removeClass('active');
                $(this).addClass('active');
                $('#active-conversation-name').text($(this).children()[0].innerHTML.replace(/<.*>\\s*/g, ""));
                setConvo();
                var objDiv = document.getElementById("conversation");
                objDiv.scrollTop = objDiv.scrollHeight;
            });
        script.
            function setConvo() {
                first = document.getElementById("active-conversation-name").innerText;
                if (first === 'John Doe') {
                    var patientMessages = messagesJohnDoe;
                    first = 'John Doe';
                    var caregiverResponse = messagesCaregiverJohn;
                } else if (first === 'Bill Smith') {
                    var patientMessages = messagesBillSmith;
                    var caregiverResponse = messagesCaregiverJane;
                } else if (first === 'Jane Doe') {
                    var patientMessages = messagesJaneDoe;
                    var caregiverResponse = messagesCaregiverBill;
                } else {
                    var patientMessages = [];
                    var caregiverResponse = [];
                }
                var myDiv = document.getElementById("conversation");
                while (myDiv.firstChild) {
                    myDiv.removeChild(myDiv.firstChild);
                }
                for (var i = 0; i < patientMessages.length; i++) {
                    //var patientName = patientList[i];
                    var chatBubbleDiv = document.createElement("div");
                    chatBubbleDiv.setAttribute('class', "message-bubble");
                    var chatBubbleName = document.createElement("p");
                    chatBubbleName.setAttribute("class", "text-muted");
                    chatBubbleName.append(first);
                    chatBubbleDiv.appendChild(chatBubbleName);
                    var chatBubbleMessage = document.createElement("p");
                    chatBubbleMessage.append(patientMessages[i]);
                    chatBubbleDiv.appendChild(chatBubbleMessage);
                    if (i !== patientMessages.length - 1) {
                        myDiv.appendChild(chatBubbleDiv);
                        chatBubbleDiv = document.createElement("div");
                        chatBubbleDiv.setAttribute('class', "message-bubble");
                        var chatBubbleName = document.createElement("p");
                        chatBubbleName.setAttribute("class", "text-muted");
                        chatBubbleName.append('Sarah');
                        chatBubbleDiv.appendChild(chatBubbleName);
                        var chatBubbleMessage = document.createElement("p");
                        chatBubbleMessage.append(caregiverResponse);
                        chatBubbleDiv.appendChild(chatBubbleMessage);
                    }
                    myDiv.appendChild(chatBubbleDiv);
                }
            }
        script.
            function sendMessage(message) {
                var chatBubbleDiv = document.createElement("div");
                chatBubbleDiv.setAttribute('class', "message-bubble");
                var myDiv = document.getElementById("conversation");
                var chatBubbleName = document.createElement("p");
                chatBubbleName.setAttribute("class", "text-muted");
                chatBubbleName.append('Sarah');
                chatBubbleDiv.appendChild(chatBubbleName);
                var chatBubbleMessage = document.createElement("p");
                chatBubbleMessage.append(message);
                chatBubbleDiv.appendChild(chatBubbleMessage);
                myDiv.appendChild(chatBubbleDiv);
                first = document.getElementById("active-conversation-name").innerText;
            }
