doctype html
html(lang='en')
    head
        - var title = "Schedule"
        include ../include/header
    body
        - var navbar = { schedule: true }
        include ../include/navbar
        .container  This is your schedule page
        include ../include/footer
